exclude: .*\.snap
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-case-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args:
          - --float-to-top
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args:
          - --py37-plus
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.10.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
     - id: mypy
       additional_dependencies:
          - "duckdb==0.6.1"
          - "pytest==6.2.4"
          - "hypothesis==6.14.1"
          - "sqlalchemy[mypy]==1.4.46"
          - "types-setuptools==57.4.17"
  - repo: https://github.com/PyCQA/flake8
    rev: '6.1.0'  # pick a git hash / tag to point to
    hooks:
    - id: flake8
      args:
        - --jobs=1
        - --extend-ignore=W503,E203,E501
