[tool.poetry]
name = "duckdb_engine"
version = "0.6.4"
description = "SQLAlchemy driver for duckdb"
authors = ["Elliana <me@mause.me>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/Mause/duckdb_engine"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/Mause/duckdb_engine/issues"
"Changelog" = "https://github.com/Mause/duckdb_engine/releases"

[tool.poetry.dependencies]
python = ">=3.6.1"
duckdb = ">=0.4.0"
sqlalchemy = "^1.3.19"
numpy = "*"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
pre-commit = "^2.17.0"
pdbpp = "^0.10.3"
mypy = "^0.971"
hypothesis = "^6.31.6"
pandas = "^1"
ipython-sql = "^0.4.1"
sqlalchemy = {version="^1.3.19", extras=['mypy']}
pytest-cov = {extras = ["coverage"], version = "^3.0.0"}

[tool.poetry.plugins."sqlalchemy.dialects"]
duckdb = "duckdb_engine:Dialect"

[tool.pytest.ini_options]
addopts = "--hypothesis-show-statistics"
xfail_strict = true

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
warn_redundant_casts = true
warn_unused_ignores = true
plugins = ['sqlalchemy.ext.mypy.plugin']

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
