[tool.poetry]
name = "duckdb_engine"
version = "0.1.7"
description = ""
authors = ["Elliana <me@mause.me>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/Mause/duckdb_engine"

[tool.poetry.dependencies]
python = ">=3.6.1"
duckdb = ">=0.2.7"
sqlalchemy = "^1.3.19"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pre-commit = "^2.13.0"
pdbpp = "^0.10.3"
mypy = "^0.910"
hypothesis = "^6.14.2"
pandas = "^1"

[tool.poetry.plugins."sqlalchemy.dialects"]
duckdb = "duckdb_engine"

[tool.pytest.ini_options]
addopts = "--hypothesis-show-statistics"
xfail_strict = true

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
warn_redundant_casts = true
warn_unused_ignores = true

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
