[tool.poetry]
name = "duckdb_engine"
version = "0.9.2"
description = "SQLAlchemy driver for duckdb"
authors = ["Elliana <me@mause.me>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/Mause/duckdb_engine"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/Mause/duckdb_engine/issues"
"Changelog" = "https://github.com/Mause/duckdb_engine/releases"

[tool.poetry.dependencies]
python = ">=3.7"
duckdb = ">=0.4.0"
sqlalchemy = ">=1.3.22"

[tool.poetry.dev-dependencies]
numpy = "*"
pytest = "^7.3.1"
pre-commit = "^2.21.0"
pdbpp = "^0.10.3"
mypy = "^1.4"
hypothesis = "^6.75.2"
pandas = "^1"
jupysql = "^0.7.8"
sqlalchemy = {version="^1.3.19", extras=['mypy']}
pytest-cov = {extras = ["coverage"], version = "^4.0.0"}
snapshottest = "^0.6.0"
pytest-remotedata = "^0.4.0"

[tool.poetry.plugins."sqlalchemy.dialects"]
duckdb = "duckdb_engine:Dialect"

[tool.pytest.ini_options]
addopts = "--hypothesis-show-statistics --strict --strict-markers"
xfail_strict = true

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
warn_redundant_casts = true
warn_unused_ignores = true
plugins = ['sqlalchemy.ext.mypy.plugin']

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
