[tool.poetry]
name = "duckdb_engine"
version = "0.1.4"
description = ""
authors = ["Elliana <me@mause.me>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/Mause/duckdb_engine"

[tool.poetry.dependencies]
python = "^3.6"
duckdb = "^0.2.3"
sqlalchemy = "^1.3.19"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pre-commit = "^2.12.1"
pdbpp = "^0.10.2"
mypy = "^0.812"

[tool.poetry.plugins."sqlalchemy.dialects"]
duckdb = "duckdb_engine"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
