name: Python application

on: [pull_request, workflow_dispatch]
permissions:
  checks: write

jobs:
  build_backend:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python: [3.6, 3.7, 3.8, 3.9] #, "3.10.0-rc.1"]
        bleeding_edge: [false]
        include:
        - python: 3.9
          bleeding_edge: true

    env:
      PYTHON: ${{matrix.python}}

    steps:
      - uses: actions/checkout@v3
      - name: Remove cached duckdb extensions
        run: rm -rf ~/.duckdb
      - run: echo "poetry==1.1.15" > CONSTRAINTS.txt
      - name: Install poetry
        env:
          PIP_CONSTRAINT: CONSTRAINTS.txt
        run: python -m pip install poetry
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: poetry
      - name: Install tox
        run: |
          python${{ matrix.python }} -m pip install --upgrade tox tox-gh-actions tox-poetry-installer[poetry]
        env:
          PIP_CONSTRAINT: CONSTRAINTS.txt
      - name: Lint with flake8
        run: |
          pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with tox
        run: python${{ matrix.python }} -m tox -e duckdb_master -p auto
        if: matrix.bleeding_edge
      - name: Test with tox
        run: python${{ matrix.python }} -m tox -p auto
        if: "!matrix.bleeding_edge"
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          junit_files: results.xml
          comment_mode: off
          check_name:  "Test Results - ${{ join(matrix.*, ', ') }}"
      - uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          env_vars: PYTHON  # set from matrix
          fail_ci_if_error: true
          verbose: true
